* {
	font-family: 'Mukta', sans-serif;
	color: white;

    }

body {
		background-color: #1E93CC;
		margin: 0px;
		

}
.menubar {
  width: 100%;
  height: 45px;
  background-color: #3d3d3d;
  overflow: auto;
  


}




.menubar a {
  

  display:inline-block;
  padding: 10px;
  margin: auto;
  text-decoration: none;
  color: white;
  font-size: 15px;
  

}

a.login {
	float: right;
	
}

img.profile {
	float: left;
	padding-left: 5px;


}

div.profile {

	text-align: center;
	display: block;
	
	margin-bottom: 50px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
}

#titre2 {

	color: black;
	display: block;
	background-color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	

	padding-top: 10px;
	padding-bottom: 10px;

	
}

div.content {

	
	
	width: 80%;
	margin-bottom: 50px;
	padding-top: 100px;
	padding-bottom: 100px;
}

#titre3 {

	color: darkgrey;
	display: block;
	background-color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;

	
}


img.profile {
	
	margin-left: 10%;


}

div.footer {
	background-color:#EEEEEE ;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	
}

div.button {
	display: block;
	background-color:white;
	
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5% 30%;
	
}

.button a:link, div.profile > a.button {

  display: inline-block;	
  background-color: #165882;
  color: white;
  
  border-radius: 8px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  

}

div.profile > a.button {
	background-color: #E99002;
}


























































